extends layout

block content
  h1= title
  //p #{JSON.stringify(obj)}
  .panel.panel-primary
        .panel-heading Buscar   
            
            
        .panel-body 
             
            form(method='post', name='', action='/clientesLista/'+filtroBusqueda)
                tr
                   input.form-control(rows='5', class='textbox', name="filtroBusqueda", id="filtroBusqueda") 
                p
                tr
                    input.btn.btn-primary.btn-large(type='submit', value='Filtrar',id="btnFiltrar") 
                    span.glyphicon.glyphicon-chevron-down
                    b 
                    b &nbsp;
                        a.btn.btn-info.btn-large(href='/clientesLista' alt='ver todos') Ver Todos
                        span.glyphicon.glyphicon-search(aria-hidden='true')
             
     table.table.table-responsive.table-hover.danger(border=1 )
    
     tr
        th.text-center Nro
        th.text-center Nombre
        th.text-center Apellido
        th.text-center DNI-CUIL
        th.text-center Email
        th.text-center Telefono 1
        th.text-center Teléfono 2
        th(colspan="2") Opciones
        -obj.forEach(function(v,i){
        tr
        td=(i+1)
        td=v.na.nombre
        td=v.na.apellido
        td=v.dniCuil
        td=v.mail
        td=v.tel1
        td=v.tel2
        
        td
            a(href="/edit/"+v._id) Editar
        td
            a(href="/eliminarCliente/"+v._id) Borrar
            -})
  p

  div
     a.btn.btn-primary.btn-large(href='/' alt='Menú Principal') &laquo; Menú Principal 
     td 
        a.btn.btn-success.btn-large(href='/crearCliente' alt='Añadir nuevo') Añadir nuevo 
     
  


   